* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f8fa;
}

#create_ziggurat {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    min-width: 250px;
    margin: 30px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#create_ziggurat h1 {
    padding: 10px;
    width: 100%;
    text-align: center;
    background: #3b5ff4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

#create_ziggurat input {
    background: #e5eef5;
}

#create_ziggurat label {
    padding: 5px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#create_ziggurat input[type="number"] {
    margin: 5px 0;
    border-radius: 2px;
    padding: 5px;
    border: none;
}

#create_ziggurat input[type="submit"] {
    border: none;
    background: #ff6346;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#zig {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    border-radius: 10px;
    width: 30%;
    min-width: 250px;
    margin: 30px auto;
    padding: 20px;
}
#zig .row {
    display: flex;
}
#zig .col {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 1px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

#zig .col:first-child,
#zig .row:first-child > * {
    background: #e5eef5;
    border: none;
    color: rgb(122, 122, 122, 0.5);
}
#zig .col img {
    width: 100%;
    
}

#zig .col:first-child::before {
    content: ' ';
    position: absolute;
    left: -30px;
    height: 20px;
    width: 20px;
    /* background: black; */
    border: solid red;
    border-width: 0 5px 5px 0;
    transform: rotate(-45deg);
}

