<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/main.css">
    <title>authorization</title>
</head>
<body class="bg1">
    <form action="/auth" id="authorization" method="post">
        <label for=""><input name="username" type="text" placeholder="name"></label>
        <label for=""><input name="password" type="password" placeholder="password"></label>
        <label for=""><input type="submit" value="login/registration"></label>
    </form>
</body>
</html>